Brotli==1.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.7
iniconfig==2.0.0
mutagen==1.47.0
numpy==2.0.0
packaging==24.1
pluggy==1.5.0
pycryptodomex==3.20.0
pytest==8.2.2
requests==2.32.3
urllib3==2.2.2
websockets==12.0
yt-dlp==2024.5.27
